# Numbers: int, float, complex

In [2]:
x = 10
y = -5

In [ ]:
### 1. Finden Sie die Summe von a und b

In [3]:
### 2. Was ist der Typ des Ergebnisses?

In [ ]:
### 3. Konvertiere es in float und drucke das Ergebnis

In [ ]:
### 4. Drucke den Datentyp

In [5]:
a = 3.5
b = 2.0

In [ ]:
### 5. Multiplizieren Sie a und b.

In [ ]:
### 6. Welchen Datentyp hat das Ergebnis?

In [ ]:
### 7. Konvertiere es in Int und drucke das Ergebnis

# Strings: str

In [ ]:
text = "I love Machine Learning"

In [ ]:
# 1. Schreibe ein Python-code, um die Länge des Strings zu ermitteln.

In [ ]:
# 2. Schreibe einen Code, der nur das Wort "love" aus dem Text text = "I love Machine Learning" extrahiert.

In [ ]:
# 3. Ändere das Wort "love" in "like" im Text text = "I love Machine Learning".

In [ ]:
name= "Elisa"
age="30"

In [ ]:
# 4. Schreibe ein Python-Code, das einen Satz mit der F-String-Methode erstellt und ausgibt.
#Der Satz soll lauten: "Ihr Name ist Elisa und sie ist 30 Jahre alt."

In [ ]:
# 5. Schreibe ein Python-Code, das einen Satz mithilfe der format() Methode erstellt und ausgibt.
#Der Satz soll lauten: "Ihr Name ist Elisa und sie ist 30 Jahre alt."

In [ ]:
# 6. Schreibe ein Python-Code, um den Index des Teilstrings "Elisa" innerhalb des Satzes zu finden.

In [ ]:
number = 0.1234.

In [ ]:
# 7 Schreibe ein Python-code, um diese Zahl mit unterschiedlichen Dezimalstellen unter Verwendung der F-String-Methode zu formatieren und auszudrucken.
#Drucke die #Zahl speziell mit:

In [ ]:
# 7 Einer Dezimalstelle.

# Bool

In [ ]:
# 1 Erstelle in Python zwei boolesche Variablen: is_student und is_teacher. Setze is_student auf True und is_teacher auf False.

#  Lists

In [3]:
fruit_selection = ["apple", "banana", "cherry", "date", "elderberry"]

In [ ]:
# 1.Schreibe ein Python-code, um die Früchte in alphabetischer Reihenfolge zu sortieren. Gib die sortierte Liste aus.

In [ ]:
# 2. Schreibe einen Python-Code, der die Frucht "orange" am Ende der bestehenden Liste fruit_selection anhängt. 
#Gib anschließend die aktualisierte Liste aus.

In [ ]:
# 3. Löschen Sie das letzte Element von fruit_selection und geben Sie es aus.

In [ ]:
numbers = [5, 4, 3, 1]

In [ ]:
# 4. Sortieren Sie die Liste der Zahlen von der kleinsten zur größten und fügen Sie die fehlenden Zahlen hinzu.

In [ ]:
text = "I-love-machine-learning"

In [ ]:
# 5. Konvertieren Sie diesen Text in eine Liste. Speichern Sie die Liste als "text_list".

In [ ]:
# 6 Drucken Sie diese Liste und konvertieren Sie die Liste wieder in einen String.

In [ ]:
# 7. Zählen Sie die Anzahl der Elemente in "text" und "text_list" und vergleichen Sie die Ergebnisse, um festzustellen, welches mehr Elemente hat.

# Dictionaries

In [4]:
product_dict = {
    "Laptop": ["Dell", 999.99],
    "Smartphone": ["Apple", 799.99],
    "Headphones": ["Sony", 129.95],
    "Tablet": ["Samsung", 349.99]
}

In [ ]:
# 1.Geben Sie die keys und values des product_dict aus

In [ ]:
# 2. Ändern Sie "Smartphone": ["Apple", 799.99] zu "Smartphone": ["Samsung", 500].

In [ ]:
# 3. Geben Sie den  value des "Smartphone"  aus.

# Tuple

In [ ]:
my_tuple = ("Auto", "Fahrrad", "Motorrad")

In [ ]:
# 1. Drucke das erste und das letzte Element des Tupels my_tuple in Python aus.

In [ ]:
# 2 Entferne das erste Element des Tupels my_tuple in Python

# Set

In [ ]:
# 1 Erstelle in Python eine Set mit den Werten "Auto", "Fahrrad" und "Motorrad".

In [ ]:
# 2 Füge der bereits erstellten Set ein weiteres Element "Auto" hinz

In [ ]:
# 3 Zähle die Anzahl der Elemente in der  my_set und gib  my_set aus.