# Functions

##### English

- In Python, a function is defined using the def keyword, followed by a function name, parameters enclosed in parentheses, and a colon

 ##### German
- In Python wird eine Funktion mit dem Schlüsselwort def definiert, gefolgt von einem Funktionsnamen, Parametern in Klammern und einem Doppelpunkt

In [1]:
print("a", "b")

print("a", "b", sep="__")

a b
a__b

In [2]:
# One argument function Eine Argumentfunktion)

def calculate(x):
    result = x * 10
    print(f"{x} multiplied by 10 is {result}")
calculate(2)

2 multiplied by 10 is 20

In [3]:
# A Function with more arguments (Eine Funktion mit mehreren Argumenten)

def add_numbers(a, b):
    result = a + b
    return result

In [4]:
add_numbers(2,3)

5

In [5]:
def summer(arg1, arg2):
    print(arg1 + arg2)

summer(7, 8)

15

In [6]:
summer(8, 7)

15

In [7]:
summer(arg2=8, arg1=7)

15

In [8]:
def sumof(x, y):
    """
    This funtions sum two number

    Args:
        x: it can be int and floar
        y: it can be int and floar

    Returns:
        int, float

    """
    print(x + y)

In [9]:
# This is a simple function that takes two arguments and prints their sum.
# Das ist eine einfache Funktion, die zwei Argumente nimmt und ihre Summe ausgibt.
def summer(arg1, arg2): 
    result = arg1 + arg2
    print(f"The sum of {arg1} and {arg2} is: {result}")

In [10]:
# Call the function with arguments 7 and 8
# Rufe die Funktion mit den Argumenten 7 und 8 auf

summer(7, 8)

The sum of 7 and 8 is: 15

In [11]:
# Call the function with arguments 8 and 7
# Rufe die Funktion mit den Argumenten 8 und 7 auf

summer(8, 7)

The sum of 8 and 7 is: 15

In [12]:
# Call the function using keyword arguments
#  Rufe die Funktion mit Schlüsselwortargumenten auf.

summer(arg2=8, arg1=7)

The sum of 7 and 8 is: 15

In [13]:
#Default Arguments

def greet(name, greeting="Hello"):
    return f"{greeting}, {name}!"
print(greet("Alice"))          # Output: "Hello, Alice!"
print(greet("Bob", "Hi"))      # Output: "Hi, Bob!"

Hello, Alice!
Hi, Bob!

In [14]:
# Adding value to a list 
# Einen Wert zu einer Liste hinzufügen

list_store = [] 
def add_element(a, b):
    c = a * b
    list_store.append(c)
    print(list_store)

In [15]:
# Call the add_element function with different arguments
# Rufe die Funktion add_element mit verschiedenen Argumenten auf.
add_element(2, 3)
add_element(2, 4)
add_element(2, 5)
print(list_store )

[6]
[6, 8]
[6, 8, 10]
[6, 8, 10]

  
  **Key Takeaways**

- Functions can take parameters (inputs) that are specified within the parentheses. These parameters are like variables that are accessible within the function.
- The code inside the function is known as the function body. It contains the instructions and logic that the function performs.
- Functions can return a value using the return statement. This value can be used elsewhere in your code.
- Once you define a function, you can call it multiple times with different arguments, reducing code duplication.
- Functions make your code more organized and structured, which aids in code management and collaboration in larger projects.

**Wichtige Erkenntnisse**

- Funktionen können Parameter (Eingaben) enthalten, die innerhalb der Klammern angegeben werden. Diese Parameter sind wie Variablen, auf die innerhalb der Funktion zugegriffen werden kann.
- Der Code innerhalb der Funktion ist als Funktionskörper bekannt. Er enthält die Anweisungen und die Logik, die die Funktion ausführt.
- Funktionen können einen Wert mit der Return-Anweisung zurückgeben. Dieser Wert kann an anderer Stelle in Ihrem Code verwendet werden.
- Sobald Sie eine Funktion definiert haben, können Sie sie mehrmals mit verschiedenen Argumenten aufrufen, was die Code-Duplizierung reduziert.
- Funktionen machen Ihren Code organisierter und strukturierter, was bei der Codeverwaltung und Zusammenarbeit in größeren Projekten hilft.

# Time for Practice (Zeit für Übung)

# Conditions
##### English
- In Python, "conditions" refer to the logic that allows you to make decisions in your code.
 ##### German
 - In Python, "conditions" refer to the logic that allows you to make decisions in your code.

In [19]:
# Conditions in Python
# True and False
condition1 = 1 == 1  # This condition is True
condition2 = 1 == 2  # This condition is False

In [20]:
# if Statement (# if-Anweisung)

if condition1:
    print("This condition is True, so this line will be executed.")
if condition2:
    print("This condition is False, so this line will be skipped.")

This condition is True, so this line will be executed.

In [21]:
if 1 == 1:
    print("This condition is True, so this line will be executed.")
if 1 == 2:
    print("This condition is False, so this line will be skipped.")

This condition is True, so this line will be executed.

In [22]:
# The else Clause
def number_check_with_else(number):
    if number == 10:
         print("The number is 10")  # If 'number' is equal to 10, print this message.
    else:
        print("The number is not 10") # If 'number' is not equal to 10, print this message.

In [23]:
number_check_with_else(12)
number_check_with_else(10)

The number is not 10
The number is 10

In [24]:
# The elif Clause
def number_check_with_elif(number): # Check if the 'number' is greater than 10.
    if number > 10: # If 'number' is greater than 10, print this message.
        print("The number is greater than 10")
    elif number < 10: # If the previous condition is not met, check if 'number' is less than 10.
        print("The number is less than 10")         # If 'number' is less than 10, print this message.
    else: # If neither of the previous conditions is met, it means 'number' is equal to 10.
        print("The number is equal to 10")  # In this case, print this message.

In [25]:
number_check_with_elif(6)
number_check_with_elif(10)
number_check_with_elif(12)

The number is less than 10
The number is equal to 10
The number is greater than 10

In [26]:
#False True conditions
print(True and True)
print(False and True)
print(False or True)

True
False
True

In [27]:
#logical expressions

# ==, !=, >, <, >=, <=
# and, or, not

In [28]:
# Define the credit score and income variables.
# Definiere die Variablen für die Kreditwürdigkeit und das Einkommen

credit_score = 750
income = 60000
# Check if both the credit score is greater than or equal to 700 and income is greater than or equal to 50000.
# Überprüfe, ob sowohl die Kreditwürdigkeit größer oder gleich 700 als auch das Einkommen größer oder gleich 50000 ist
if credit_score >= 700 and income >= 50000:
    print("Loan approved!")
else:
    print("Loan denied.")

Loan approved!

In [30]:
numbers = [1, 2, 3]
alphabet = ['a', 'b', 'c']

# AND condition
for num, letter in zip(numbers, alphabet):
    if num == 3 and letter == "a":
        print(f'Both conditions are met for num={num} and letter="{letter}"')
    else:
        print(f'Both conditions are not met for num={num} and letter="{letter}"')

# OR condition
for num, letter in zip(numbers, alphabet):
    if num == 3 or letter == "a":
        print(f'At least one condition is met for num={num} or letter="{letter}"')
    else:
        print(f'Neither condition is met for num={num} or letter="{letter}"')

Both conditions are not met for num=1 and letter="a"
Both conditions are not met for num=2 and letter="b"
Both conditions are not met for num=3 and letter="c"
At least one condition is met for num=1 or letter="a"
Neither condition is met for num=2 or letter="b"
At least one condition is met for num=3 or letter="c"

In [31]:

def control_traffic_light(traffic_light_color):
    if traffic_light_color == "green":
        return "Go"
    elif traffic_light_color == "yellow":
        return "Prepare to stop"
    else:
        return "Stop"
        
# Example usages
light1 = "green"
light2 = "yellow"
light3 = "red"

In [32]:
control_traffic_light('green')
control_traffic_light(light1)

'Go'

 **Key Takeaways**

- **if**: The primary conditional statement checks if a condition is True and, if it is, executes the associated code.
- **elif**: Stands for "else if" and is used to check an additional condition if the previous condition(s) are not met.
- **else**': Provides a default action to be taken when none of the previous conditions are true.
- Conditions are essential for decision-making in your code. They allow you to create intelligent, responsive 
- Misusing = vs. ==: Assigning values uses =, while comparing values uses ==. Mistaking one for the other can lead to errors.

Wichtige Erkenntnisse

- **if:** Die primäre Bedingungsanweisung prüft, ob eine Bedingung wahr ist, und führt, wenn dies der Fall ist, den zugehörigen Code aus.
- **elif:** Steht für "else if" und wird verwendet, um eine zusätzliche Bedingung zu prüfen, wenn die vorherige(n) Bedingung(en) nicht erfüllt sind.
- **else:** Bietet eine Standardaktion, die ausgeführt wird, wenn keine der vorherigen Bedingungen wahr ist.
- Bedingungen sind wesentlich für die Entscheidungsfindung in Ihrem Code. Sie ermöglichen es Ihnen, intelligente, reaktionsfähige Programme zu erstellen.
- Falsche Verwendung von = vs. ==: Werte zuweisen verwendet =, während Werte vergleichen == verwendet. Eine Verwechslung kann zu Fehlern führen.

# Time for Practice (Zeit für Übung)

 # Loops

In [1]:
characters = ['Alice', 'Bob', 'Eve', 'Charlie']
for character_name in characters:
    print('Character Name:', character_name)

Character Name: Alice
Character Name: Bob
Character Name: Eve
Character Name: Charlie

In [4]:
# Creating a list named 'participants' with names of participants in a workshop
# Erstellen einer Liste namens 'Teilnehmer' mit Namen der Teilnehmer eines Workshops

participants = ["Alice", "Bob", "Clara", "David"]

# Accessing and printing the first participant's name
# Zugreifen und Ausdrucken des Namens des ersten Teilnehmers
print(participants[0])  # Output: Alice

Alice

In [5]:
# Accessing and printing the second participant's name
# Zugreifen und Ausdrucken des Namens des zweiten Teilnehmers

print(participants[1])  # Output: Bob

Bob

In [37]:
# Adding a new participant to the list
# Einen neuen Teilnehmer zur Liste hinzufügen

participants.append("Ethan")
print(participants[4])  # Output: Ethan

Ethan

In [38]:
# Removing a participant from the list
# Einen Teilnehmer aus der Liste entfernen

participants.remove("David")
print(participants)  # Output: ['Alice', 'Bob', 'Clara', 'Ethan']

['Alice', 'Bob', 'Clara', 'Ethan']

In [40]:
#for loops with strings.
#for-Schleifen mit Zeichenketten.

review = 'My name is Khan'

for symbol in review:
    print(symbol)

M
y

n
a
m
e

i
s

K
h
a
n

In [41]:
review = 'My name is Khan'
# Split the string into words based on spaces
# Teile den String anhand von Leerzeichen in Wörter auf
words = review.split()
for word in words:
    print(word)

My
name
is
Khan

In [42]:
#range()
for i in range(10):
    print('The number ', i) 

# produces a series of numbers from 0 up to but not including the value we pass it:
# erzeugt eine Reihe von Zahlen von 0 bis zu, aber ausschließlich, dem Wert, den wir ihr übergeben

The number  0
The number  1
The number  2
The number  3
The number  4
The number  5
The number  6
The number  7
The number  8
The number  9

In [43]:
for i in range(0, 10 , 2):
    print('The number ', i) 
# range(start, stop, step) generates a sequence of numbers.
# range(Start, Stopp, Schritt) erzeugt eine Sequenz von Zahlen

The number  0
The number  2
The number  4
The number  6
The number  8

In [44]:
#len() function with range()
#len()-Funktion mit range()
film_names = ['Forrest Gump', 'Pulp Fiction', 'The Matrix', 'Jurassic Park']
for i in range(len(film_names)):
    print('Famous film name: ', film_names[i])

Famous film name:  Forrest Gump
Famous film name:  Pulp Fiction
Famous film name:  The Matrix
Famous film name:  Jurassic Park

In [7]:
# Calculate the total price of a list of items.
# Berechne den Gesamtpreis einer Liste von Artikeln

price = [80, 100, 90, 120, 130, 95, 110, 75, 70, 90, 65]
total_price = 0
for item_price in price:
    total_price += item_price

print("Total price:", total_price)

Total price: 1025

In [9]:
# sum() funtionn
# sum () function takes a list as the argument and returns the sum of its elements

# sum()-Funktion
# sum()-Funktion nimmt eine Liste als Argument und gibt die Summe ihrer Elemente zurück
height = [170, 165, 178, 162, 175, 169, 183, 155, 160, 168]
total_height = sum(height)
print("Total height:", total_height)

Total height: 1685

In [10]:
#max() 
height = [170, 165, 178, 162, 175, 169, 183, 155, 160, 168]

# Find the maximum height.
# Finde die maximale Höhe.
highest_height = max(height)
print("Highest height:", highest_height)

Highest height: 183

In [11]:
# Min()
height = [170, 165, 178, 162, 175, 169, 183, 155, 160, 168]
# Find the lowest height.
# Finde die niedrigste Höhe
lowest_height = min(height)
print("Lowest height:", lowest_height)

Lowest height: 155

# Time for Practice (Zeit für Übung)

## Advanced Loop funtions

In [70]:
# Zip

# List of student names
# Liste der Schülernamen
students = ["John", "Mark", "Venessa", "Mariam"]

# List of academic departments corresponding to each student
# Liste der akademischen Abteilungen, die jedem Studenten entsprechen
departments = ["mathematics", "statistics", "physics", "astronomy"]

# List of ages corresponding to each student
# Liste der Altersangaben, die jedem Studenten entsprechen
ages = [23, 30, 26, 22]
combined_list = list(zip(students, departments, ages))
print(combined_list)

[('John', 'mathematics', 23), ('Mark', 'statistics', 30), ('Venessa', 'physics', 26), ('Mariam', 'astronomy', 22)]

In [14]:
import timeit
# Define the 'summer' function that adds two numbers
# Definiere die Funktion 'summer', die zwei Zahlen addiert
def summer(a, b):
    return a + b

In [15]:
summer(4, 3) * 10000

70000

In [16]:
# Define a lambda function 'new_sum' that also adds two numbers
# Definiere eine Lambda-Funktion 'new_sum', die ebenfalls zwei Zahlen addiert".
new_sum = lambda a, b: a + b

In [17]:
new_sum(4, 3)*10000

70000

In [18]:
# Measure the time it takes to execute the 'summer' function 1,000,000 times
# Messen Sie die Zeit, die benötigt wird, um die 'summer'-Funktion 1.000.000 Mal auszuführen
time_summer = timeit.timeit('summer(4, 3) * 10000', globals=globals(), number=1000000)

# Measure the time it takes to execute the 'new_sum' lambda function 1,000,000 times
# Messen Sie die Zeit, die benötigt wird, um die 'new_sum'-Lambda-Funktion 1.000.000 Mal auszuführen
time_new_sum = timeit.timeit('new_sum(4, 3) * 10000', globals=globals(), number=1000000)

Execution time for 'summer': 0.14681010018102825 seconds
Execution time for 'new_sum': 0.12122700014151633 seconds

In [ ]:

print(f"Execution time for 'summer': {time_summer} seconds")
print(f"Execution time for 'new_sum': {time_new_sum} seconds")

In [5]:
# List of original salaries
salaries = [1000, 2000, 3000, 4000, 5000]

def new_salary(x):
    return x * 20 / 100 + x
for salary in salaries:
    print(new_salary(salary))

1200.0
2400.0
3600.0
4800.0
6000.0

In [77]:
# map
new_salaries_map = list(map(new_salary, salaries))
# Printing the new salaries calculated using map
print(new_salaries_map)

[1200.0, 2400.0, 3600.0, 4800.0, 6000.0]

In [6]:
salaries = [1000, 2000, 3000, 4000, 5000]
new_salaries = list(map(lambda x: x * 20 / 100 + x, salaries))
print("New salaries with 20% increase:", new_salaries)

New salaries with 20% increase: [1200.0, 2400.0, 3600.0, 4800.0, 6000.0]

In [79]:
# A list of numbers from 1 to 10
# Eine Liste von Zahlen von 1 bis 10

list_store = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_numbers = list(filter(lambda x: x % 2 == 0, list_store))

# Printing the list of even numbers
# Ausgabe der Liste der geraden Zahlen
print("Even numbers from the list:", even_numbers)

Even numbers from the list: [2, 4, 6, 8, 10]

In [81]:
# Original list of numbers
numbers = [1, 2, 3, 4, 5]

# Creating a new list where each number is squared (number * number)
# Erstellen einer neuen Liste, in der jede Zahl quadriert wird (Zahl * Zahl)"
squares = [x**2 for x in numbers]
print("Squares of numbers:", squares)

Squares of numbers: [1, 4, 9, 16, 25]

In [83]:
# Two lists - names and corresponding ages
# Zwei Listen - Namen und entsprechende Alter
names = ["Alice", "Bob", "Charlie"]
ages = [24, 30, 35]
combined = list(zip(names, ages))
print("Combined name-age pairs:", combined)

Combined name-age pairs: [('Alice', 24), ('Bob', 30), ('Charlie', 35)]