# PART 1

In [1]:
## Import the necessary libraries (Importieren Sie die notwendigen Bibliotheken )

In [1]:
import pandas as pd

| Column Name         | English Description                                 | German Description                                         |
|---------------------|-----------------------------------------------------|------------------------------------------------------------|
| order_id            | Identifier for the order.                           | Kennung für die Bestellung.                                |
| quantity            | Number of items ordered.                            | Anzahl der bestellten Artikel.                             |
| item_name           | Name of the food item.                              | Name des Lebensmittelartikels.                             |
| choice_description  | Description of food item customizations (if any).   | Beschreibung der Anpassungen des Lebensmittelartikels (falls vorhanden). |
| item_price          | Price of the item (in USD).                         | Preis des Artikels (in USD).                               |

## Import the dataset(chipotle.tsv) (Importieren Sie den Datensatz)

In [2]:
### 1.Print first 10 row of the dataset (Geben Sie die ersten 10 Zeilen des Datensatzes aus.)

chipotle_data = pd.read_csv('chipotle.tsv', sep='\t')
chipotle_data.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [3]:
### 2.Print the shape of the dataset (Geben Sie die Form des Datensatzes aus.)

chipotle_data.shape

(4622, 5)

In [4]:
### 3. Print the info of the dataset ( Geben Sie die Informationen des Datensatzes aus) 

chipotle_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [5]:
### 4. Print the name of all the columns. (Gib den Namen aller Spalten aus. )

chipotle_data.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [6]:
### 5.What is the number of columns in the dataset? ( Wie viele Spalten hat das Dataset?)

print(len(chipotle_data.columns))

5

In [ ]:
### 6. Check for duplicated values and drop them ( Überprüfe auf doppelte Werte und entferne sie.)
chipotle_data.duplicated().sum()

In [ ]:
chipotle_data.drop_duplicates(inplace=True)

In [8]:
### 7. Choose order_id and item_price columns and print fisr 5 row (Wählen Sie die Spalten order_id und item_price aus und drucken Sie die ersten 5 Zeilen)
chipotle_data[["order_id", "item_price"]]

item_name
Chicken Bowl    761
Name: quantity, dtype: int64

# PART 2

## Filling missing values  ( Füllen von fehlenden Werten)

In [17]:
### 1. Check missing values and show in percentages  ( Überprüfen von fehlenden Werten und Anzeigen in Prozenten)
chipotle_data.isna().mean()*100

order_id               0.000000
quantity               0.000000
item_name              0.000000
choice_description    26.958027
item_price             0.000000
profit                 0.000000
dtype: float64

In [ ]:
### 2. Fill mising value in item_price with median () ( Die fehlenden Werte in 'item_price' mit dem Median füllen)
median_price = chipotle_data['item_price'].median()
chipotle_data['item_price'].fillna(median_price, inplace=True)

In [ ]:
### 3.Fill mising value in  choice_description with "Unknow" (Die fehlenden Werte in 'choice_description' mit 'Unbekannt' füllen)
chipotle_data['choice_description'].fillna('Unknown', inplace=True)

##  Pivot table and Group By

In [20]:
chipotle_data.head()

,order_id,quantity,item_name,choice_description,item_price,profit
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,33.96

In [24]:
### 1 . Create a pivot table to show the total profit  for each item name.
### (Erstellen Sie eine Pivot-Tabelle, um den Gesamtgewinn für jeden Artikelnamen anzuzeigen.)

pivot_table_1 = chipotle_data.pivot_table(values='profit', index='item_name', aggfunc='sum').reset_index()
pivot_table_1.head()

               item_name  profit
0      6 Pack Soft Drink  369.93
1          Barbacoa Bowl  672.36
2       Barbacoa Burrito  894.75
3  Barbacoa Crispy Tacos  138.71
4    Barbacoa Salad Bowl  106.40