***Introduction to Data Structures***


- **Numbers: int, float, complex**
- **Strings: str**
- **Boolean (TRUE-FALSE): bool**
- **List**
- **Tuple**
- **Set**

# Numbers: int, float, complex

## Intigers

##### English
- **The integer is the number we use when we count things.**
- **Integers are like whole numbers**, such as the number of fingers on your hand.
- **No decimal points**; they can be positive or negative.
- **Watch out for decimal points**; integers don't have them.

In [ ]:
print(10)

10

In [ ]:
type(10)

int

In [ ]:
type(12)

int

In [ ]:
print(type(3))

<class 'int'>

#### Variables

In [ ]:
### Intiger numbers
### Variables
x = 5
y = -7
z = 0

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [ ]:
result1 = x * 3
print(result1)

15

In [ ]:
y

-7

In [ ]:
result2 = y / 7
print(result2)

-1.0

In [ ]:
type(-7/7)

float

In [ ]:
y=y/7

In [ ]:
result3 = (x * y)
print(result3)

-35

In [ ]:

result4 = x ** 3
print(result4)

125

##### English
- You can do all Math operations  in Python

## Floating-Point Numbers

In [ ]:
#### (float)

a = 3.14
b = -0.5
c = 2.0

print(type(a))
print(type(b))
print(type(c))

<class 'float'>
<class 'float'>
<class 'float'>

In [ ]:
type(2.0)

float

In [ ]:
type(2)

int

In [ ]:
2==2.0

True

In [ ]:
### Change types from float to int
a = 3.14
a=int(a)
print(a)

3

In [ ]:
type(3.78)

float

In [ ]:
print(type(a))

<class 'int'>

In [ ]:
### Change types from into  to float

x = 5
x = float(x)
print(x)

5.0

In [ ]:
print(type(x))

<class 'float'>

In [ ]:
result1 = int(a * b / 10)

0

In [ ]:
c = a * b / 10
c

-0.15

In [ ]:
result2 = int(c)
print(result2)

0

In [ ]:
int(a * b / 10)

0

In [ ]:
print(result2)

0

## Complex Numbers

In [ ]:
p = 2 + 3j
q = -1.5 - 0.5j
r = 0 + 2j

print(type(p))
print(type(q))
print(type(r))

<class 'complex'>
<class 'complex'>
<class 'complex'>

  **Key Takeaways**

- Python supports various numeric data types, including integers (int), floating-point numbers (float), and complex numbers (complex).
- Integers are whole numbers without decimal points and can be positive or negative.
- Floating-point numbers have decimal points and can also be positive or negative. Be mindful of potential precision issues.
- Complex numbers consist of a real part and an imaginary part, represented with "j" or "J." They are used in advanced mathematical calculations.
- You can use the type() function to determine the data type of a number.
- Math operations can be performed with these numeric data types to perform various calculations in Python.

# Strings: str

##### English
- Strings are sequences of characters enclosed in single ('') or double ("") quotes or  """  This is for notes but it is also saved as intiger """
- You can use single or double quotes interchangeably, but be consistent.

In [ ]:
type(5)

int

In [ ]:
type("5")

str

In [ ]:
5+5

10

In [ ]:
x=5+5

In [ ]:
x

10

In [ ]:
'5' + '5'

'55'

In [ ]:
ad = "Hessen"

In [ ]:
ad

'Hessen'

In [ ]:
### String samples

name = "Alice"
message = 'Hello, World!'
print(name)
print(message)

Alice
Hello, World!

In [ ]:
name

'Alice'

In [ ]:
###String Concatenation:

greeting = "Hello, " + name
print(greeting)

Hello, Alice

#### English
 - You can join strings using the + operator.

In [ ]:
### String Length:

length = len(greeting)
print(length)

12

- You can find the length of a string using the len() function.

In [ ]:
name= "Hessen"

In [ ]:
len(name)

6

In [ ]:
name[1]

'e'

In [ ]:
greeting

'Hello, Alice'

In [ ]:
name_slic= greeting[7:12+1]
name_slic

'Alice'

In [ ]:
### String Indexing and Slicing:
first_char = greeting[0]
substring = greeting[7:12]
print(first_char)
print(substring)

H
Alice

#### English
- You can access individual characters in a string using indexing (starts from 0).
- You can slice a string to extract a portion of it using [start:stop] notation.

In [ ]:
### Negative indexing

word = 'Hello World'
last_letter = word[-1]
third_from_end = word[-3]
print(last_letter, third_from_end)

d r

In [ ]:
### String Methods:

greeting = "Hello, " + name
greeting

'Hello, Hessen'

In [ ]:
name=name.upper()

In [ ]:
uppercase_greeting = greeting.upper()
print(uppercase_greeting)

HELLO, HESSEN

In [ ]:
"Hello".upper()

'HELLO'

In [ ]:
uppercase_greeting.lower()

'hello, hessen'

In [ ]:
uppercase_greeting.upper()

'HELLO, HESSEN'

#### English
 - Python offers many string methods for manipulating strings, such as upper(), lower(), and replace().
 - Remember that strings are immutable; methods return new strings.

In [ ]:
### Reassign the character

word = 'Hello'
#word[0] = 'B'

- Deactivate the code above and pay attention to the error.
- You cannot change a character of the string

In [ ]:
### Reassing the variable

word = 'aaa'

In [ ]:
word = 'abc'

- You can only reasign the variable to new value

In [ ]:
greeting

In [ ]:
### dir function

dir(greeting)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
help(str.join)

Help on method_descriptor:

join(self, iterable, /)
    Concatenate any number of strings.

    The string whose method is called is inserted in between each given string.
    The result is returned as a new string.

    Example: '.'.join(['ab', 'pq', 'rs']) -> 'ab.pq.rs'

In [ ]:
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

#### English
 - The dir() function is used to inspect and retrieve a list of methods and attributes associated with a given variable.

In [ ]:
greeting.split(sep='H')

['', 'ello, ', 'essen']

In [ ]:
greeting.split()

['Hello,', 'Hessen']

'Hello, Hessen'

In [ ]:
original_string = " ofofo "
original_string

' ofofo '

In [ ]:
stripped_string = original_string.strip()
print(stripped_string)

ofofo

In [ ]:
original_string = "ofofo"
stripped_string = original_string.strip("o")
print(stripped_string)

fof

In [ ]:
### String Formatting:
name = 'Alica'
age = 35

In [ ]:
f_string = f"My name is {name} and I am {age} years old."
print(f_string)

My name is Alica and I am 30 years old.

In [ ]:
print(f"Mnm {age} yam var")

Mnm 35 yam var

In [ ]:
### Format method

formatted_string = " My name is {}  and I am {} years  old.".format(name, age)
print(formatted_string)

 My name is Alica  and I am 35 years  old.

#### English
- You can format strings using f-strings or the `format()' method.

In [ ]:
### Escape character

#print('Tom 's pen is blue')
print('Tom \'s pen is blue')

Tom 's pen is blue

#### English
The backslash is used in a few other important combinations as well:\
- \n indicates a line break
- \t indicates a tab or indent

In [ ]:
### Escape character isn't  part of the text

single_quote_string = 'Tom \'s pen'
double_quote_string = "Tom 's pen"
print(f"Single-quoted string: {single_quote_string}")
print(f"Length of the single-quoted string: {len(single_quote_string)}")

Single-quoted string: Tom 's pen
Length of the single-quoted string: 10

In [ ]:

print(f"Double-quoted string: {double_quote_string}")
print(f"Length of the double-quoted string: {len(double_quote_string)}")

Double-quoted string: Tom 's pen
Length of the double-quoted string: 10

#### English
 - Note that the escape character isn't considered part of the text.

In [ ]:
### replace() replaces characters or sequences of characters in the string

word = 'My name is khan'

'My name is khan'

In [ ]:
word =word.replace("khan", "Cefer")

In [ ]:
word

'My name is Cefer'

In [ ]:
new_word = word.replace('My', 'Your')
print(f'Replaced Word: {new_word}')
print(f'Original Word (Unchanged): {word}')

Replaced Word: Your name is Cefer
Original Word (Unchanged): My name is Cefer

#### English
 - Note: This method doesn't modify the original string; it returns a new string with the replacement.
 - You should assign the result to a variable if you want to keep or work with the modified string.

In [ ]:
#find() searches for a substring in a string
word = 'hey, hello, hello, hello, how low?'
word

'hey, hello, hello, hello, how low?'

In [ ]:
word.find("how")

26

In [ ]:
word.find("hello")

5

In [ ]:
idx = word.find('hello')
print(f"Index of first 'hello': {idx}")

Index of first 'hello': 5

In [ ]:
# Use the find() method with optional start and end positions

idx = word.find('hello', 7, 26)
print(f"Index of 'hello' in the range (7 to 26): {idx}")

Index of 'hello' in the range (7 to 26): 12

In [ ]:
idx = word.find('hallo')
print(f"Index of : {idx}")

Index of : -1

#### English
- The result is the index of the first 'hello' found within that range or -1 if not foun

In [ ]:
 # find () method is case-sensitive

idx = word.find('Hello')
print(f"Index of : {idx}")

Index of : -1

**Key Takeaways**

- Strings in Python are sequences of characters enclosed in single (') or double (") quotes.
- You can use escape sequences, like \n for a new line, to include special characters in strings.
- String concatenation allows you to join strings together using the + operator.
- The len() function can be used to find the length (number of characters) in a string.
- You can access individual characters in a string using indexing, which starts from 0.
- String slicing allows you to extract substrings using [start:stop] notation.
- Python offers various string methods (e.g., upper(), lower(), replace()) for string manipulation.
- Keep in mind that strings are immutable; when you modify a string, it creates a new string.
- String formatting can be done using f-strings or the format() method to insert variables or values into a string.
- Understanding strings is essential for working with text data, user input, and text processing in Python.

# Time for Practice

In [ ]:
##################################################################################################################################################################################################################

#  Boolean

#### English
-  Boolean values represent true or false conditions.

In [ ]:
# True is a boolean value representing a true condition.
True

True

In [ ]:
# False is a boolean value representing a false condition.
False

False

In [ ]:
# Using the type() function to check the data type of True.

type(True)

bool

In [ ]:
# Comparison of integers with the equality operator (==)

5 == 4 # 5 is not equal to 4, therefore this expression yields False

False

In [ ]:
5.0 ==5

True

In [ ]:
# 1 is equal to 1, therefore this expression yields True

1 == 1

True

In [ ]:
# Using the type() function to check the data type of the comparison result

type(False)

bool

In [ ]:
### Boolean Variables:

# - Booleans can be assigned to variables. They can only have two values: True or False.

is_student = True  # This variable indicates whether someone is a student (True) or not (False).
is_adult = False   # This variable indicates whether someone is an adult (True) or not (False).

print(f'is_student: {is_student}')
print(f'is_adult: {is_adult}')

is_student: True
is_adult: False

In [ ]:
### Comparison Operators: (Vergleichsoperatoren:)

# - Booleans often result from comparisons using operators like == (equal) or != (not equal).


age = 18
is_teenager =age == 18
is_elderly = age >= 65

print(f'is_teenager: {is_teenager}')
print(f'is_elderly: {is_elderly}')

is_teenager: True
is_elderly: False

In [ ]:
age == 18

True

In [ ]:
###  Logical Operators:


is_adult_or_elderly = is_adult or is_elderly
is_not_adult = not is_adult

print(f'is_student_and_teenager: {is_student_and_teenager}')
print(f'is_adult_or_elderly: {is_adult_or_elderly}')
print(f'is_not_adult: {is_not_adult}')

is_student_and_teenager: True
is_adult_or_elderly: False
is_not_adult: True

In [ ]:
print(is_student ,is_teenager )

False True

In [ ]:
is_student=False

In [ ]:
# - Logical operators (and, or, not) are used to combine or invert boolean values.
is_student_and_teenager = is_student or is_teenager
is_student_and_teenager

True

#### English

**Key Takeaways**

- **Why It's Important**:
- Booleans are fundamental for decision-making in programming, like if statements and loops.
- They help control the flow of a program based on conditions.
- Booleans are used for testing, validation, and making your code responsive to different situations.
- **Common Mistakes**:
 - Misusing assignment operator (=) instead of equality operator (==) in comparisons.
 - Forgetting the capitalization: 'True' and 'False' are case-sensitive in Python.

# Time for Practice

In [ ]:
##################################################################################################################################################################################################################


#  Lists

#### English
- A list is a  collection of items that can be of different data types.
- Lists are created by placing items (elements) inside square brackets [ ], separated by commas.
- Lists are mutable, which means you can change their content after they are created.

In [ ]:
###  Creating Lists:

fruits = ["apple", "banana","cherry"]
numbers = [1, 2, 3, 4, 5]
mixed_list = ["apple", 3, 5.6, True, 6.6]

print(f'fruits: {fruits}')
print(f'numbers: {numbers}')
print(f'mixed_list: {mixed_list}')

fruits: ['apple', 'banana', 'cherry']
numbers: [1, 2, 3, 4, 5]
mixed_list: ['apple', 3, 5.6, True, 6.6]

In [ ]:
#type()
print(f"The data type of 'elements' is: {type(fruits)}")

The data type of 'elements' is: <class 'list'>


- Lists are created using square brackets [] and can contain various data types.

In [ ]:
# Accessing Elements:
first_fruit = fruits[1]
last_number = numbers[-1]
print(f'first_fruit: {first_fruit}')
print(f'last_number: {last_number}')

first_fruit: banana
last_number: 5


- You can access list elements by their index, which starts at 0.

In [ ]:
# - Lists are mutable; you can change their content.
numbers = [1, 2, 3, 4, 5]

In [ ]:
numbers[2] = 99
print(numbers)

[1, 2, 99, 4, 5]


- Lists are mutable; you can change their content.

In [ ]:
# Slicing Lists:

subset_fruits = fruits[1:3]
partial_numbers = numbers[:3]

print(f'subset_fruits: {subset_fruits}')
print(f'partial_numbers: {partial_numbers}')

subset_fruits: ['banana', 'cherry']
partial_numbers: [1, 2, 99]


- Slicing allows you to get a portion of the list.

In [ ]:
# Create a list of fruits
fruits = ["apple", "banana", "cherry", "date", "elderberry"]

In [ ]:
dir(fruits)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
fruits

['apple', 'banana', 'cherry', 'date', 'elderberry']

In [ ]:
# Remove "banana" from the 'fruits' list using the remove() method.
fruits.remove("banana")
print(f"Fruits after removing 'banana': {fruits}")

Fruits after removing 'banana': ['apple', 'cherry', 'date', 'elderberry']

In [ ]:
# Remove the last item from the 'fruits' list using the pop() method
fruits.pop(0)
print(f"Fruits after popping the last item: {fruits}")

Fruits after popping the last item: ['cherry', 'date']

In [ ]:
fruits.pop(1)
print(f"Fruits after popping the last item: {fruits}")

Fruits after popping the last item: ['apple', 'date']

In [ ]:
# Sorts the 'numbers' list in ascending order.
numbers = [12, 2, 4, 5, 10,0, 3]
numbers

[12, 2, 4, 5, 10, 0, 3]

In [ ]:
numbers.sort()
print(f'this is the  listed after sort {numbers}')

this is the  listed after sort [0, 2, 3, 4, 5, 10, 12]

In [ ]:
dir(numbers)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
# Sorts the 'numbers' list in descending order.
numbers = [12, 2, 4, 5, 10,0, 3]
numbers.sort(reverse=True)
print(f'this is the  listed after sort {numbers}')

this is the  listed after sort [12, 10, 5, 4, 3, 2, 0]

In [ ]:
#sort() method to sort the 'alphabet' list
alphabet= ['A', 'a', 'B', 'C', 'D', 'b']
alphabet.sort()
print(alphabet)

['A', 'B', 'C', 'D', 'a', 'b']

In [ ]:
#sorted() Function
numbers = [12, 2, 4, 5, 10,0, 3]
print(f'this is the number list after sorted function {sorted(numbers)}')

this is the number list after sorted function [0, 2, 3, 4, 5, 10, 12]

#### English
- Press "Shift + Tab" at the end of the sorted() function and the sort() method to see the differences.
- sorted() returns a None value, which means it produces a empth list
- Note: sort is a method, while sorted is a function. Therefore, sorted does not modify the original list; it simply returns the sorted result.
- To see the difference, press Shift + Tab on sorted and sort

In [ ]:
# Split the 'line' string into words using the split() method
line = 'Lorem ipsum dolor sit amet.'
print(f"Data type of 'line': {type(line)}")
print(f"Length of 'line': {len(line)}")

Data type of 'line': <class 'str'>
Length of 'line': 27

In [ ]:
line.split(sep ="s")

['Lorem ip', 'um dolor ', 'it amet.']

In [ ]:
# 'words' will store a list of strings
words = line.split()

In [ ]:
print(f"List of words: {words}")
print(f"Data type of 'words': {type(words)}")
print(f"Number of words in the 'words' list: {len(words)}")

List of words: ['Lorem', 'ipsum', 'dolor', 'sit', 'amet.']
Data type of 'words': <class 'list'>
Number of words in the 'words' list: 5

In [ ]:
#split() wthout any argument
phrase = 'Uh-oh uh-oh uh-oh  uh-oh.'
res = phrase.split()
print(res)

['Uh-oh', 'uh-oh', 'uh-oh', 'uh-oh.']

In [ ]:
#split() with argument
phrase = 'Uh-oh uh-oh uh-oh  uh-oh.'
res = phrase.split('-')
print(res)

['Uh', 'oh uh', 'oh uh', 'oh  uh', 'oh.']

In [ ]:
# From list to string : join () method
phrase = '-'.join(res)
print(phrase)

Uh-oh uh-oh uh-oh  uh-oh.

In [ ]:
# Counts () method.
fruits = ["apple", "banana", "cherry", "date", "elderberry"]
count_of_apples = fruits.count("apple")
print(f'count_of_apples: {count_of_apples}')

count_of_apples: 1

In [ ]:
fruits

['apple', 'banana', 'cherry', 'date', 'elderberry']

In [ ]:
# Append () method.
fruits.append("orange")
print(fruits)

['apple', 'banana', 'cherry', 'date', 'elderberry', 'orange']

In [ ]:
# Append a list into a list.
data = [10, 20]
data.append([30, 40])
print(data)

[10, 20, [30, 40]]

In [ ]:
numbers

[12, 2, 4, 5, 10, 0, 3]

In [ ]:
# Extend method().
numbers.extend([7, 8])
print(numbers)

[12, 2, 4, 5, 10, 0, 3, 7, 8]

In [ ]:
# Insert method()
numbers.insert(1, 100)
print(numbers)

[4, 100, 12, 2, 4, 5, 10, 0, 3, 7, 8]

#### English
- Pay attention differcen between extend(),  append ()  and insert() methods

In [ ]:
# Nested list
elements = [0, "a", 2, "c", True, [6, 5, 2]]

In [ ]:
list(elements)

[0, 'a', 2, 'c', True, [6, 5, 2]]

In [ ]:
# Access and print the element at index 5 of the 'elements' list, which is a nested list
print(f"Element at index 5: {elements[5]}")

Element at index 5: [6, 5, 2]

In [ ]:
# Use the type() function to determine the data type of the element at index 5.
print(f"Data type of element at index 5: {type(elements[5])}")

Data type of element at index 5: <class 'list'>

In [ ]:
elements

[0, 'a', 2, 'c', True, [6, 5, 2]]

In [ ]:
# Access and print the element at index 1 of the nested list at index 5.
print(f"Element at index 1 of the nested list: {elements[5][1]}")

Element at index 1 of the nested list: 5

In [ ]:
# Use the type() function to determine the data type of the element at index 1 of the nested list.
print(f"Data type of element at index 1 of the nested list: {type(elements[5][1])}")

Data type of element at index 1 of the nested list: <class 'int'>

In [ ]:
# Create a list named 'elements' containing a mix of data types, including a nested list.
elements = [0, "a", 2, "c", True, [6, 5, 2]]
print(f"Number of elements in the 'elements' list: {len(elements)}")

Number of elements in the 'elements' list: 6

#### English
- When you use the len() function to find the length of a list, it counts each element as one, including nested lists

In [ ]:
## Index() method
fruits = ['apple', 'banana', 'orange', 'kiwi', 'grape']
search_item = 'kiwi'
index = fruits.index(search_item)
print(f"{search_item} found at index {index}.")

kiwi found at index 3.

**Key Takeaways**
- Lists are versatile and can store a variety of data types, making them suitable for a wide range of applications.
- Lists maintain the order of elements, meaning the order in which you add items is preserved.
- Elements in a list can be accessed using an index. Indexing starts at 0 for the first element.
- You can extract subsets of a list using slicing. This allows you to work with a portion of the list.
- Lists are mutable, meaning you can change their contents by adding, removing, or modifying elements.
- Python provides useful list methods like append(), remove(), sort(), and count() for various list operations.
- Pay attention to off-by-one errors when indexing (starting from 0). Modifying a list while iterating over it can lead to unexpected behavior.
-  Lists are fundamental data structures used to manage and manipulate collections of data. They are essential for tasks like data storage, processing, and iteration in Python
-  Lists are commonly used in loops( we will learn in the next lessons) for iteration and processing each element in the list.

# Time for Practice

In [ ]:
#################################################################################################################################################################################################################

# Dictionaries

#### English
- A dictionary in Python is a collection of key-value pairs.
- It is mutable and iterable data structure.
- Dictionaries are used to store data in the form of key-value mappings, where each key maps to a specific value.

In [ ]:
mydict = {}

In [ ]:
mydict_01 =dict()

In [ ]:
type(mydict_01)

dict

In [ ]:
# Create a dictionary 'book_dict' that associates book titles with lists containing author names and prices.
book_dict = {
    "Xms": ["Nizami Gncvi", 10.99],
    "Durnalar": ["Qasm by Zakir", 12.99],
    "rq Poemas": ["Mirz Ftli Axundov", 14.95] ,

}
print(book_dict)

{'Xms': ['Nizami Gncvi', 10.99], 'Durnalar': ['Qasm by Zakir', 12.99], 'rq Poemas': ['Mirz Ftli Axundov', 14.95]}

In [ ]:
# Search for a key in the dictionary to check if it exists
book_exists = "rq Poemas"  in   book_dict
print(book_exists)

True

In [ ]:
# Call the value by key

book_dict['Xms']

['Nizami Gncvi', 10.99]

#### English
- You can all the value by key
- However you cannot call the key by value

In [ ]:
#  Accessing the values with different methods
srq_info = book_dict["Xms"]
print(type(srq_info))

<class 'list'>

In [ ]:
srq_info

['Nizami Gncvi', 10.99]

In [ ]:
author_of_xms = book_dict["Xms"][0]

print(author_of_xms)

Nizami Gncvi

In [ ]:

info= book_dict["Xms"][1]
print(info)

10.99

In [ ]:
book_dict

{'Xms': ['Nizami Gncvi', 10.99],
 'Durnalar': ['Qasm by Zakir', 12.99],
 'rq Poemas': ['Mirz Ftli Axundov', 14.95]}

In [ ]:
# Retrieve the keys (book titles) in the dictionary
keys = book_dict.keys()
print(f"Book titles in the dictionary: {keys}")

Book titles in the dictionary: dict_keys(['Xms', 'Durnalar', 'rq Poemas'])

In [ ]:
# Retrieve the values (author names and prices) in the dictionary
values = book_dict.values()
print(f"Author names and prices in the dictionary: {values}")

Author names and prices in the dictionary: dict_values([['Nizami Gncvi', 10.99], ['Qasm by Zakir', 12.99], ['Mirz Ftli Axundov', 14.95]])

In [ ]:
for key  in book_dict.keys():
  print(f"{key} sri")

Xms sri
Durnalar sri
rq Poemas sri

In [ ]:
book_dict.items()

dict_items([('Xms', ['Nizami Gncvi', 10.99]), ('Durnalar', ['Qasm by Zakir', 12.99]), ('rq Poemas', ['Mirz Ftli Axundov', 14.95])])

In [ ]:

for Key, Values in book_dict.items():
    print(f'Key: {Key}, Value: {Values}')

Key: Xms, Value: ['Nizami Gncvi', 10.99]
Key: Durnalar, Value: ['Qasm by Zakir', 12.99]
Key: rq Poemas, Value: ['Mirz Ftli Axundov', 14.95]

In [ ]:
# Edit the value associated with a key
book_dict['Belik'] = ["Nizami Gncvi", 15]

In [ ]:
for key, value in book_dict.items():
    print(f'Key: {key}, Value: {value}')

Key: Xms, Value: ['Nizami Gncvi', 12.99]
Key: Durnalar, Value: ['Qasm by Zakir', 12.99]
Key: rq Poemas, Value: ['Mirz Ftli Axundov', 14.95]
Key: Belik, Value: ['Nizami Gncvi', 15]

In [ ]:
#KeyError

print(book_dict['One'])
# Activate the code above to see the error code

KeyError: 'One'

In [ ]:
# Try to access the value associated with the key 'One' in the 'book_prices' dictionary

try:
    book = book_dict['Xms']
    print(book)
except:
    print('We do not have this book')

['Nizami Gncvi', 12.99]

In [ ]:
# Edit the value associated with a key
book_dict['Belik'] = ["Nizami Gncvi", 12.99]
for key, value in book_dict.items():
    print(f'Key: {key}, Value: {value}')

In [ ]:
#Using get

print(book_dict.get("One")) #This method won't cause errors and is simpler than try-except.

None

In [ ]:
#Adding items

book_dict["War and Peace "]= 20.0

In [ ]:
book_dict

{'Xms': ['Nizami Gncvi', 12.99],
 'Durnalar': ['Qasm by Zakir', 12.99],
 'rq Poemas': ['Mirz Ftli Axundov', 14.95],
 'Belik': ['Nizami Gncvi', 15],
 'War and Peace ': 20.0,
 'Pride and Prejudice': ['Jane Austen', 20]}

In [ ]:
book_dict.update({"Pride and Prejudice": ["Jane Austen", 20]})

In [ ]:
for key, value in book_dict.items():
    print(f'Key: {key}, Value: {value}')  # Print

Key: Xms, Value: ['Nizami Gncvi', 12.99]
Key: Durnalar, Value: ['Qasm by Zakir', 12.99]
Key: rq Poemas, Value: ['Mirz Ftli Axundov', 14.95]
Key: Belik, Value: ['Nizami Gncvi', 15]
Key: War and Peace , Value: 20.0
Key: Pride and Prejudice, Value: ['Jane Austen', 20]

In [ ]:
#Dictory is use in website

shopping_cart = [
    {
        'product': 'T-shirt',
        'category': 'clothing',
        'quantity': 2,
        'price': 15.99
    },
    {
        'product': 'Jeans',
        'category': 'clothing',
        'quantity': 1,
        'price': 29.99
    },
    {
        'product': 'Sneakers',
        'category': 'footwear',
        'quantity': 1,
        'price': 49.99
    }
]

In [ ]:
shopping_cart

[{'product': 'T-shirt', 'category': 'clothing', 'quantity': 2, 'price': 15.99},
 {'product': 'Jeans', 'category': 'clothing', 'quantity': 1, 'price': 29.99},
 {'product': 'Sneakers',
  'category': 'footwear',
  'quantity': 1,
  'price': 49.99}]

In [ ]:
total_cost =0

for item  in  shopping_cart:
  item_cost =(item["quantity"] * item["price"])
  total_cost +=item_cost
print(total_cost)

111.96000000000001

In [ ]:

total_cost = 0

for item in shopping_cart:

    total_cost += item['price'] * item['quantity']

print(total_cost)

111.96000000000001

#### English
**Key Takeaways**

- Dictionaries provide fast and efficient data retrieval.
- Dictionaries allow you to organize and store data in a structured way.
- Dictionaries enable you to create associations between keys and values, which is a powerful way to represent relationships and mappings in your programs
- Dictionaries are dynamic and mutable.

# Time for Practice

In [ ]:
########################################################################################################################################################################################################################

# Tuple

#### English
- A tuple is immutable, and iterable collection of elements in Python.
- It is similar to a list, but unlike lists, tuples cannot be modified after creation.
- Tuples are defined by enclosing elements in parentheses ( ).''

In [8]:
#tuple

my_tuple = ("apple", "banana", "cherry")
print(f"Data type of 'my_tuple': {type(my_tuple)}")

Data type of 'my_tuple': <class 'tuple'>

In [10]:
#Index

first_element = my_tuple[1]
print(f"First element of 'my_tuple': {first_element}")

First element of 'my_tuple': banana

In [12]:
#  mixed-type tuple

mixed_tuple = ("Hello", "I", 1, 2, 2.6, True, False)
print(f"Mixed-type tuple 'mixed_tuple': {mixed_tuple}")

Mixed-type tuple 'mixed_tuple': ('Hello', 'I', 1, 2, 2.6, True, False)

In [13]:
my_tuple

('apple', 'banana', 'cherry')

In [15]:
#Slicing the tuple to get a subset of elements

subset = my_tuple[0:5]
print(f"Subset of elements using slicing: {subset}")

Subset of elements using slicing: ('apple', 'banana', 'cherry')

In [16]:
my_tuple[0]

'apple'

In [17]:
#Immutable

my_tuple[0] = 'kiwi'
#Activa the code above to see the error

TypeError: 'tuple' object does not support item assignment

In [23]:
my_tuple

('apple', 'banana', 'cherry')

In [22]:
my_tuple[1]

'banana'

In [26]:
#Sequence Packing/Unpacking:
x, y, z= my_tuple
print(x,y,z)

apple banana cherry

In [24]:
y

'banana'

#### English
**Key Takeaways**
- Tuples maintain the order of elements, meaning the first element is accessed first, the second element is accessed second, and so on.
- Once a tuple is created, you cannot change, add, or remove its elements. This is in contrast to lists, which are mutable.
- Tuples are used when you want to ensure that the data remains unchanged throughout your program.
- Since tuples are immutable, they can be used as keys in dictionaries, whereas lists cannot.
- You can assign multiple variables in a single line by unpacking a tuple

# Time for Practice

In [ ]:
#######################################################################################################################################################################################################################

# Set

#### English
- A set is an unordered collection of unique elements.

In [40]:
# Creating a set with curly braces

fruits = {"apple", "banana", "cherry"}
type(fruits)

set

#### English
- It look like a dictionary but it has no key : value pair

In [43]:
# Creating a set using the set() constructor

colors = set(["red", "green", "blue"])
type(colors)

set

In [44]:
colors

{'blue', 'green', 'red'}

#### English
- It resembles a list, yet set() is employed.
- To learn more about it, press Shift + Tap at the end of set().

In [ ]:
# An empty set

empty_set = set()

In [46]:
#There is no order in set
#colors[0]
#activate the code ot see the error code .

- To learn more about error, press Shift + Tap at the end of set() to find out the reason.

In [56]:

fruits_list_2 = list({"apple", "banana", "cherry", "apple", "banana"})

In [55]:
fruits_list_2

['cherry', 'banana', 'apple']

In [51]:
fruits_list_1 =["apple", "banana", "cherry", "apple", "banana"]

In [52]:
fruits_list_1

['apple', 'banana', 'cherry', 'apple', 'banana']

In [53]:
#Pay attention to fruit dataset compare it with outp


fruits = {"apple", "banana", "cherry", "apple", "banana"}
fruits

{'apple', 'banana', 'cherry'}

In [57]:
# Adding  Elements:


fruits.add("orange")

In [58]:
fruits

{'apple', 'banana', 'cherry', 'orange'}

In [59]:
# Removing Elements


fruits.remove("apple")

In [60]:
fruits

{'banana', 'cherry', 'orange'}

In [61]:
# Unique value

a = {1, 1, 1, 2, 2,2} # A set in Python is a collection that stores only unique values

In [62]:
print(a)

{1, 2}

In [63]:
len(a)

2

In [64]:
len({1, 1, 1, 2, 2,2})

2

In [ ]:
dir(a)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [65]:
# Create two sets 'a' and 'b'
a = {1, 2, 3, 4, 5}
b = {4, 5, 6, 7, 8}

In [66]:
a

{1, 2, 3, 4, 5}

In [67]:
b

{4, 5, 6, 7, 8}

In [69]:
a.difference(b)

{1, 2, 3}

In [68]:
#difference()

difference_ab = a.difference(b)
difference_ab = a - b #
print(f"Elements in 'a' but not in 'b': {difference_ab}")

Elements in 'a' but not in 'b': {1, 2, 3}

In [70]:
#intersection()
# Calculate the intersection between set 'a' and set 'b' using the 'intersection()' method

intersection_ab = a.intersection(b)
print(f"Elements common to both 'a' and 'b': {intersection_ab}")

Elements common to both 'a' and 'b': {4, 5}

In [72]:
# Removing duplicates from a list


my_list = [1, 2, 2, 3, 3, 4]
unique_set = set(my_list)
unique_list = list(unique_set)
unique_list

[1, 2, 3, 4]

**Key Takeaways**
- Sets are great for maintaining a collection of unique elements
- Sets do not support indexing, so you cannot access elements by their position within the set.
- Sets support set operations such as union, intersection, and difference.
- Sets are optimized for membership testing.  A set is much faster than searching for it in a list, especially for large collections.
- Removing duplicates from a list or sequence
- Sets are unordered, so you can't rely on the order of elements within a set.

# Time for Practice

In [ ]:
################################################################################################################################################################################################################

# Quick Overview

###  Mutability vs. Immutability:

In [74]:

# Lists are mutable
my_list = [1, 2, 3]
my_list[0] = 10
my_list

[10, 2, 3]

In [ ]:
# Tuples are immutable
my_tuple = (1, 2, 3)
# Attempting to modify a tuple will result in an error: my_tuple[0

### Ordered vs. Unordered:

In [75]:
# Lists, tuples, and strings are ordered
my_list = [3, 1, 2]
my_tuple = (3, 1, 2)
my_string = "cba"
# Sets and dictionaries are unordered

In [83]:
my_string[0]

'c'

In [76]:
my_list.sort()

In [77]:
my_list

[1, 2, 3]

In [84]:
my_set = {3, 1, 2}
my_dict = {'b': 2, 'a': 1, 'c': 3}


# Attempting to call a value with index in set or  my_dict

In [85]:
my_set[0]

TypeError: 'set' object is not subscriptable

 ### Duplicate Handling:

In [88]:
# Lists allow duplicates


my_list = [1, 2, 2, 3, 3, 3]

# Sets automatically remove duplicates


my_set = {1, 2, 2, 3, 3, 3}

# Dictionaries require unique keys

my_dict = {'a': 1, 'b': 2, 'a': 3, "c" : 2}  # The second 'a' overwrites the first


# Attempting to add the second  key : a  , value : 5  in  my_dict

In [89]:
my_dict

{'a': 3, 'b': 2, 'c': 2}

## Use Cases:

In [ ]:
# Lists for general use

my_list = [1, 2, 3]

# Tuples for immutability and dictionary keys. #Tuples are often used as keys in dictionaries


my_tuple = (4, 5, 6)

# Sets for unique values and set operations


my_set = {7, 8, 9}

# Strings for text

my_string = "Hello, World!"

# Dictionaries for key-value mappings

my_dict = {'name': 'Alice', 'age': 30}

In [90]:
# Creating a dictionary with a tuple key


student_info = {(4, 5, 6): 'Alice'}

# Accessing the value using the tuple key


print(student_info[(4, 5, 6)])  # Output: 'Alice'

Alice