# Numbers: int, float, complex

In [1]:
x = 10
y = -5

In [2]:
### 1. Finden Sie die Summe von a und b
z=x+y
#print(z)
z

5

In [3]:
### 2. Was ist der Typ des Ergebnisses?
type(z)

int

In [4]:
### 3. Konvertiere es in float und drucke das Ergebnis
z=float(z)
print(z)

5.0

In [5]:
### 4. Drucke den Datentyp
print(type(z))

<class 'float'>

In [6]:
a = 3.5
b = 2.0

In [7]:
### 5. Multiplizieren Sie a und b. 
c=a*b
print(z)

5.0

In [8]:
### 6. Welchen Datentyp hat das Ergebnis?
type(c)

float

In [9]:
### 7. Konvertiere es in Int und drucke das Ergebnis
c=int(c)
print(c)

7

In [10]:
### 8. Drucke den Datentyp.
print(type(c))

<class 'int'>

In [11]:
a = 1 + 2j
b = 3 + 4j

In [12]:
### 9. Subtrahieren Sie b von a
z=a-b
print(z)

(-2-2j)

In [13]:
### 10. Was ist der Typ des resultierenden Werts
print(type(z))
print(z)

<class 'complex'>
(-2-2j)

In [14]:
### 12. Konvertiere es in Int und drucke das Ergebnis
#z=int(z)
#print(z)

# Strings: str

In [15]:
text = "I love Machine Learning"

In [16]:
# 1. Schreibe ein Python-Programm, um die Länge des Strings zu ermitteln.
length_of_text = len(text)
print("The length of the string is:", length_of_text)

The length of the string is: 23

In [17]:
# 2. Schreibe einen Code, der nur das Wort "love" aus dem Text text = "I love Machine Learning" extrahiert.
word_love = text[2:6]
print(word_love)

love

In [18]:
# 3. Ändere das Wort "love" in "like" im Text text = "I love Machine Learning".
text_mit_like = text.replace("love", "like")
print(text_mit_like)

I like Machine Learning

In [19]:
name= "Elisa"
age=30

In [20]:
# 4. Schreibe ein Python-Code, das einen Satz mit der F-String-Methode erstellt und ausgibt. Der Satz soll lauten: "Ihr Name ist Elisa und sie ist 30 Jahre alt."
sentence = f"Ihr Name ist {name} und sie ist {age} Jahre alt"
print(sentence)

Ihr Name ist Elisa und sie ist 30 Jahre alt

In [21]:
# 5. Schreibe ein Python-Programm, das einen Satz mithilfe der format() Methode erstellt und ausgibt. Der Satz soll lauten: "Ihr Name ist Elisa und sie ist 30 Jahre alt."
sentence_format = "Ihr Name ist {} und sie ist {} Jahre alt".format(name, age)
print(sentence_format)

Ihr Name ist Elisa und sie ist 30 Jahre alt

In [22]:
# 6. Schreibe ein Python-Code, um den Index des Teilstrings "Elisa" innerhalb des Satzes zu finden.
index_of_elisa = sentence.find("Elisa")
print("The index of 'Elisa' in the sentence is:", index_of_elisa)

The index of 'Elisa' in the sentence is: 13

In [23]:
# 7 Schreibe ein Python-code, um diese Zahl mit unterschiedlichen Dezimalstellen unter Verwendung der F-String-Methode zu formatieren und auszudrucken.
#Drucke die #Zahl speziell mit:
number = 0.1234

In [24]:
# 7.a Einer Dezimalstelle.
print(f'This is number {number:.1f}.')

This is number 0.1.

In [25]:
# 7.b Zwei Dezimalstellen
print(f'This is number {number:.2f}.')

This is number 0.12.

In [26]:
# 8.1 Erstelle eine Variable, die den Text Alice's adventure enthält, wobei Einzelzitate verwendet werden. Drucke diesen Satz.
single_quote_string = 'Alice\'s adventure'  
print(single_quote_string)

Alice's adventure

In [27]:
#8.2 Erstelle  eine Variable, die den Text Alice's adventure enthält, wobei Doppelzitate verwendet werden. Drucke diesen Satz.
double_quote_string = "Alice's adventure"  
print(double_quote_string)

Alice's adventure

# Bool

In [28]:
# 1 Erstelle in Python zwei boolesche Variablen: is_student und is_teacher. Setze is_student auf True und is_teacher auf False.
is_student = True
is_teacher = False
print(is_student, is_teacher)

True False

#  Lists

In [29]:
fruit_selection = ["apple", "banana", "cherry", "date", "elderberry"]

In [30]:
# 1.Schreibe ein Python-code, um die Früchte in alphabetischer Reihenfolge zu sortieren. Gib die sortierte Liste aus.
fruit_selection.sort()
print(fruit_selection)

['apple', 'banana', 'cherry', 'date', 'elderberry']

In [31]:
# 2. Schreibe einen Python-Code, der die Frucht "orange" am Ende der bestehenden Liste fruit_selection anhängt. Gib die aktualisierte Liste aus.
fruit_selection.append("orange")
print(fruit_selection)

['apple', 'banana', 'cherry', 'date', 'elderberry', 'orange']

In [32]:
# 3. Löschen Sie das letzte Element von fruit_selection und geben Sie es aus.
last_item = fruit_selection.pop()
print(last_item)

orange

In [33]:
numbers = [5, 4, 3, 1]

In [34]:
# 4. Sortieren Sie die Liste der Zahlen von der kleinsten zur größten und fügen Sie die fehlenden Zahlen hinzu.
numbers.sort(reverse=False)
numbers.insert(1, 2)
print(numbers)

[1, 2, 3, 4, 5]

In [35]:
text = "I-love-machine-learning"

In [36]:
# 5. Konvertieren Sie diesen Text in eine Liste. Speichern Sie die Liste als "text_list".
text_list = text.split("-")
text_list

['I', 'love', 'machine', 'learning']

In [37]:
# 6 Drucken Sie diese Liste und konvertieren Sie die Liste wieder in einen String.
print(text_list )
text_back_to_string = "-".join(text_list)
print(text_back_to_string)

['I', 'love', 'machine', 'learning']
I-love-machine-learning

In [38]:
# 7. Zählen Sie die Anzahl der Elemente in "text" und "text_list" und vergleichen Sie die Ergebnisse, um festzustellen, welches mehr Elemente hat.
print(len(text_list))
print(len(text_back_to_string))

4
23

In [39]:
# 8. Zählen Sie die Anzahl der Vorkommen von 'I' im Text-String und 'i' in der Text-Variablen.
count_list = text_list.count('I')
count_text = text.lower().count('i')
print(count_list)
print(count_text)

1
3

In [40]:
fruit_selection = ["apple", "banana", "cherry", "date", "elderberry"]

In [41]:
# 9. Finden Sie den Index von "banan" und ersetzen Sie "banan" durch "kiwi".
index_of_banana = fruit_selection.index("banana")
fruit_selection[index_of_banana] = "kiwi"
print(fruit_selection)

['apple', 'kiwi', 'cherry', 'date', 'elderberry']

# Dictionaries

In [42]:
product_dict = {
    "Laptop": ["Dell", 999.99],
    "Smartphone": ["Apple", 799.99],
    "Headphones": ["Sony", 129.95],
    "Tablet": ["Samsung", 349.99]
}

In [43]:
# 1.Geben Sie die keys und values des product_dict aus
for key, value in product_dict.items():
    print("Produkt:", key)
    print("Marke:", value[0])
    print("Preis:", value[1])
    print()  #

Produkt: Laptop
Marke: Dell
Preis: 999.99

Produkt: Smartphone
Marke: Apple
Preis: 799.99

Produkt: Headphones
Marke: Sony
Preis: 129.95

Produkt: Tablet
Marke: Samsung
Preis: 349.99

In [44]:
# 2. Ändern Sie "Smartphone": ["Apple", 799.99] zu "Smartphone": ["Samsung", 500].
product_dict["Smartphone"] = ["Samsung", 500]

In [45]:
# 3. Geben Sie den  value des "Smartphone"  aus.
product_dict["Smartphone"]

['Samsung', 500]

# Tuple

In [46]:
my_tuple = ("Auto", "Fahrrad", "Motorrad")

In [47]:
# 1. Drucke das erste und das letzte Element des Tupels my_tuple in Python aus.
print("Das erste Element ist:", my_tuple[0])
print("Das letzte Element ist:", my_tuple[-1])

Das erste Element ist: Auto
Das letzte Element ist: Motorrad

In [48]:
# 2 Entferne das erste Element des Tupels my_tuple in Python

# Set

In [49]:
# 1 Erstelle in Python eine Set (my_set) mit den Value "Auto", "Fahrrad" und "Motorrad".
my_set = {"Auto", "Fahrrad", "Motorrad"}

In [50]:
# 2 Füge der bereits erstellten Set ein weiteres Element "Auto" hinz
my_set.add("Auto")

In [51]:
# 3 Zähle die Anzahl der Elemente in der  my_set und gib  my_set aus.
count = len(my_set)
print("Anzahl der Elemente in my_set:", count)
print("my_set:", my_set)

Anzahl der Elemente in my_set: 3
my_set: {'Motorrad', 'Auto', 'Fahrrad'}

In [52]:
a = {12, 2, 3, 12, 5}
b = {10, 5, 12, 2, 3}

In [53]:
# 4. Finde heraus, welche Elemente die Mengen a und b gemeinsam haben.

common_elements = a.intersection(b)
common_elements

{2, 3, 5, 12}