# Numbers: int, float, complex

In [1]:
x = 10
y = -5

In [2]:
### a. Finden Sie die Summe von a und b
z=x+y
#print(z)
z

5

In [3]:
### b. Was ist der Typ des Ergebnisses?
type(z)

int

In [4]:
### c. Convert it to float and print the result ?
z=float(z)
print(z)

5.0

In [5]:
### d. Print the result and data type ?

print(type(z))

<class 'float'>

In [6]:
a = 3.5
b = 2.0

In [7]:
### 1. Multiplizieren Sie a und b. 
z=x*y
print(z)

-50

In [8]:
### b. Welchen Datentyp hat das Ergebnis?
type(z)

int

In [9]:
### 3. Konvertiere es in float und drucke das Ergebnis
z=int(z)
print(z)

-50

In [10]:
### d. Print  data type  ?
print(type(z))

<class 'int'>

In [11]:
a = 1 + 2j
b = 3 + 4j

In [12]:
### a. Subtrahieren Sie b von a
z=a-b
print(z)

(-2-2j)

In [13]:
### b. Was ist der Typ des resultierenden Werts
print(type(z))
print(z)

<class 'complex'>
(-2-2j)

In [14]:
### c. Convert it to int and print the result?
#z=int(z)
#print(z)

# 1. String

In [15]:
text = "I love Machine Learning"

In [16]:
# 1. Schreibe ein Python-Programm, um die Länge des Strings zu ermitteln.
text = "I love Machine Learning"
length_of_text = len(text)
print("The length of the string is:", length_of_text)

The length of the string is: 23

In [17]:
# 2. Schreibe einen Code, der nur das Wort "love" aus dem Text text = "I love Machine Learning" extrahiert.
text = "I love Machine Learning"
word_love = text[2:6]
print(word_love)

love

In [18]:
# 3. Ändere das Wort "love" in "like" im Text text = "I love Machine Learning".
text = "I love Machine Learning"
text_mit_like = text.replace("love", "like")
print(text_mit_like)

I like Machine Learning

In [19]:
# 4. Schreibe ein Python-Programm, das einen Satz mit der F-String-Methode erstellt und ausgibt. Der Satz soll lauten: "Ihr Name ist Elisa und sie ist 30 Jahre alt."
name = "Elisa"
age = "30"
satz = f"Ihr Name ist{name} und sie ist {age} Jahre alt"
print(satz)

Ihr Name istElisa und sie ist 30 Jahre alt

In [20]:
# 5. Schreibe ein Python-Programm, das einen Satz mithilfe der format() Methode erstellt und ausgibt. Der Satz soll lauten: "Ihr Name ist Elisa und sie ist 30 Jahre alt."

name = "Elisa"
age = "30"
sentence = "Ihr Name ist {} und sie ist {} Jahre alt".format(name, age)
print(sentence)

Ihr Name ist Elisa und sie ist 30 Jahre alt

In [21]:
# 6. Mit den Variablen name und age , schreibe ein Python-Code, um einen Satz zu erstellen und diesen in einer Variablen namens sentence zu speichern
sentence = "Ihr Name ist {} und sie ist {} Jahre alt".format(name, age)
print(sentence)

Ihr Name ist Elisa und sie ist 30 Jahre alt

In [22]:
# 7. Schreibe ein Python-Programm, um den Index des Teilstrings "Elisa" innerhalb des Satzes zu finden.
index_of_elisa = sentence.find("Elisa")
print("The index of 'Elisa' in the sentence is:", index_of_elisa)

The index of 'Elisa' in the sentence is: 13

In [40]:
number = 0.1234

In [ ]:
# 8 Schreibe ein Python-Programm, um diese Zahl mit unterschiedlichen Dezimalstellen unter Verwendung der F-String-Methode zu formatieren und auszudrucken.
#Drucke die #Zahl speziell mit:

In [ ]:
# 8.1 Einer Dezimalstelle.
print(f'This is number {number:.1f}.')

In [ ]:
# 8.2 Zwei Dezimalstellen
print(f'This is number {number:.2f}.')

In [ ]:
# 9. Erstelle eine Variable, die den Text Alice's adventure enthält, wobei Einzelzitate und ein Escape-Zeichen für den Apostroph verwendet werden. Drucke diesen Satz.
single_quote_string = 'Alice\'s adventure'  
print(single_quote_string)

In [ ]:
#9.2 Erstelle  eine Variable, die den Text Alice's adventure enthält, wobei Doppelzitate verwendet werden. Drucke diesen Satz.
double_quote_string = "Alice's adventure"  
print(double_quote_string)

In [ ]:
# 10 Erstelle in Python zwei boolesche Variablen: is_student und is_teacher. Setze is_student auf True und is_teacher auf False.
is_student = True
is_teacher = False
print(is_student, is_teacher)

#  Lists

In [ ]:
fruit_selection = ["apple", "banana", "cherry", "date", "elderberry"]

In [ ]:
# 1.Schreibe ein Python-code, um die Früchte in alphabetischer Reihenfolge zu sortieren. Gib die sortierte Liste aus.
fruit_selection.sort()
print(fruit_selection)

In [ ]:
# 2. Schreibe einen Python-Code, der die Frucht "orange" am Ende der bestehenden Liste fruit_selection anhängt. Gib anschließend die aktualisierte Liste aus.
fruit_selection.append("orange")
print(fruit_selection)

In [ ]:
#3.  Löschen Sie das letzte Element von fruit_selection und geben Sie es aus.
last_item = fruit_selection.pop()
print(last_item)

In [ ]:
numbers = [5, 4, 3, 1]

In [ ]:
# 4. Sortieren Sie die Liste der Zahlen von der  kleinsten zur größten und fügen Sie die fehlenden Zahlen hinzu.
numbers.sort(reverse=False)
numbers.insert(1, 2)
print(numbers)

In [ ]:
text = "I-love-machine-learning"

In [ ]:
# 5.  Konvertieren Sie diesen Text in eine Liste.
text_list = text.split("-")
text_list

In [ ]:
# 6 Drucken Sie diese Liste und konvertieren Sie die Liste wieder in einen String.
print(text_list )
text_back_to_string = "-".join(text_list)
print(text_back_to_string)

In [ ]:
# 7.  Zählen Sie die Anzahl der Elemente in "text" und "text_list" und vergleichen Sie die Ergebnisse, um festzustellen, welches mehr Elemente hat.
len(text_list)
len(text_back_to_string)

In [ ]:
# 8.  Zählen Sie die Anzahl der Vorkommen von 'I' im text_list und 'i' in der Text Variablen.
count_list = text_list.count('I')
count_text = text.lower().count('i')
print(count_list)
print(count_text)

In [ ]:
fruit_selection = ["apple", "banana", "cherry", "date", "elderberry"]

In [ ]:
# 9. Finden Sie den Index von "banan" und ersetzen Sie "banan" durch "kiwi".
index_of_banana = fruit_selection.index("banana")
fruit_selection[index_of_banana] = "kiwi"

# Dictionaries

In [24]:
product_dict = {
    "Laptop": ["Dell", 999.99],
    "Smartphone": ["Apple", 799.99],
    "Headphones": ["Sony", 129.95],
    "Tablet": ["Samsung", 349.99]
}

In [25]:
# 1.Geben Sie die keys und values des product_dict aus
for key, value in product_dict.items():
    print("Produkt:", key)
    print("Marke:", value[0])
    print("Preis:", value[1])
    print()  #

Produkt: Laptop
Marke: Dell
Preis: 999.99

Produkt: Smartphone
Marke: Apple
Preis: 799.99

Produkt: Headphones
Marke: Sony
Preis: 129.95

Produkt: Tablet
Marke: Samsung
Preis: 349.99

In [27]:
# 2. Ändern Sie "Smartphone": ["Apple", 799.99] zu "Smartphone": ["Samsung", 500].
product_dict["Smartphone"] = ["Samsung", 500]

In [28]:
# 3. Geben Sie den  value des "Smartphone"  aus.
product_dict["Smartphone"]

['Samsung', 500]

# Tuple

In [29]:
my_tuple = ("car", "bicycle", "motorcycle")

In [30]:
 # 1. Wie können das erste und das letzte Element des Tupels my_tuple in Python ausgedruckt werden?
print("Das erste Element ist:", my_tuple[0])
print("Das letzte Element ist:", my_tuple[-1])

Das erste Element ist: car
Das letzte Element ist: motorcycle

# Set

In [33]:
# 1 Erstelle in Python eine Set mit den Werten "Auto", "Fahrrad" und "Motorrad".
my_set = {"Auto", "Fahrrad", "Motorrad"}

In [34]:
# 2 Füge der bereits erstellten Set ein weiteres Element "Auto" hinz
my_set.add("Auto")

In [35]:
# 3. Zähle die Anzahl der Elemente in der  my_set und gib  my_set aus.
count = len(my_set)
print("Anzahl der Elemente in my_set:", count)
print("my_set:", my_set)

Anzahl der Elemente in my_set: 3
my_set: {'Auto', 'Fahrrad', 'Motorrad'}

In [38]:
#  4. Finde heraus, welche Elemente die Mengen A und B gemeinsam haben.

a = {12, 2, 3, 12, 5}
b = {10, 5, 12, 2, 3}
common_elements = a.intersection(b)
common_elements

{2, 3, 5, 12}

In [37]:
#Overview

{2, 3, 5, 12}

In [39]:
#Trennen Sie die Elemente der my_list nach ihrem Datentyp und speichern Sie sie in verschiedenen Variablennamen.
my_list = ["Hi", "Wold!", 42, 3.14, True, "Python", 2024, 0.99, False]

In [ ]:

strings = [item for item in my_list if isinstance(item, str)]
int_value = [item for item in my_list if isinstance(item, int)]
float_value = [item for item in my_list if isinstance(item, float)]
bool_value = [item for item in my_list if isinstance(item, bool)]
print("String:", strings)
print("Int:", int_value)
print("Float:", float_value)
print("Bool:", bool_value)