# PART 1

In [ ]:
## 1. Import the necessary libraries (Importieren Sie die notwendigen Bibliotheken )

| Column Name         | English Description                                 | German Description                                         |
|---------------------|-----------------------------------------------------|------------------------------------------------------------|
| order_id            | Identifier for the order.                           | Kennung für die Bestellung.                                |
| quantity            | Number of items ordered.                            | Anzahl der bestellten Artikel.                             |
| item_name           | Name of the food item.                              | Name des Lebensmittelartikels.                             |
| choice_description  | Description of food item customizations (if any).   | Beschreibung der Anpassungen des Lebensmittelartikels (falls vorhanden). |
| item_price          | Price of the item (in USD).                         | Preis des Artikels (in USD).                               |

In [1]:
import pandas as pd

##  2. Import the dataset and Analysis  (Importieren Sie den Datensatz und Analyse )

In [2]:
### 1.Print first 10 row of the dataset (Geben Sie die ersten 10 Zeilen des Datensatzes aus.)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [2]:
### 2.Print the shape of the dataset (Geben Sie die Form des Datensatzes aus.)

In [3]:
### 3. Print the info of the dataset (Geben Sie die Informationen des Datensatzes aus)

In [4]:
### 4. Print the name of all the columns. (Gib den Namen aller Spalten aus. )

In [5]:
### 5. What is the number of columns in the dataset? ( Wie viele Spalten hat das Dataset?)

In [ ]:
### 6. Check for duplicated values and drop them ( Überprüfe auf doppelte Werte und entferne sie.)

In [ ]:
### 7. Choose order_id and item_price columns and print fisr 5 row (Wählen Sie die Spalten order_id und item_price aus und drucken Sie die ersten 5 Zeilen)

# PART 2

## Filling missing values  ( Füllen von fehlenden Werten)

In [13]:
### 1. Check missing values and show in percentages  ( Überprüfen von fehlenden Werten und Anzeigen in Prozenten)

In [14]:
### 2. Fill mising value in item_price with median () ( Die fehlenden Werte in 'item_price' mit dem Median füllen)

In [15]:
### 3.Fill mising value in  choice_description with "Unknow" (Die fehlenden Werte in 'choice_description' mit 'Unbekannt' füllen)

## 4. Pivot table

In [3]:
### 1 . Create a pivot table to show the total item price for each item name.
### (Erstellen Sie eine Pivot-Tabelle, um den Gesamtpreis für jeden Artikelnamen anzuzeigen.)
chipotle_data = pd.read_csv('chipotle.tsv', sep='\t')
chipotle_data.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25